apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
      - name: auth-api
        image: felipevelasco7/auth-api:latest
        ports:
        - containerPort: 8000
        env:
        - name: AUTH_API_PORT
          value: "8000"
        - name: USERS_API_ADDRESS
          value: "http://users-api:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-api
spec:
  selector:
    app: auth-api
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000