apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
  labels:
    app: auth-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
      - name: auth-api
        image: felipevelasco7/auth-api:latest
        ports:
        - containerPort: 8000
        env:
        - name: AUTH_API_PORT
          valueFrom:
            configMapKeyRef:
              name: auth-api-config
 